[submodule "new-york-buildings"]
	path = new-york-buildings
	url = https://github.com/osgav/new-york-buildings
	branch = main
[submodule "edinburgh-paths-network"]
	path = edinburgh-paths-network
	url = https://github.com/osgav/edinburgh-paths-network
	branch = main
[submodule "edinburgh-bookshops"]
	path = edinburgh-bookshops
	url = https://github.com/osgav/edinburgh-bookshops
	branch = main
